{% extends "base.html" %}

{% block title %}{{person.displayName}}{% endblock %}

{% block style %}
header{border-bottom:#D2D2D2 1px solid;background:#f1f1f1; padding:4px 4px 0 4px;}
header h1{font-size:20px;font-weight:normal;color:black;margin:0;}
#content{border-bottom:#D2D2D2 1px solid;font-size:13px; padding:0 4px;word-wrap:break-word;}
textarea{height:100px;width:300px;}
footer{font-size:10px;}
{% endblock %}

{% block page %}
<div class="page">
    <header>
        <h1>Google+ badge generator</h1>
    </header>
    <div id="content">

<div><iframe src="http://plustoys.powazord.com{% url plusbadges_badge badge_index=0 google_profile_id=person.id %}?embed=yes" style="width:230px;height:300px;border:0;"><p>I'm sorry, your browser does not support iframes.</p></iframe></div>
<p>Copy the code in the text area below to any HTML source to get your badge :)</p>
<div>
<textarea><iframe src="http://plustoys.powazord.com{% url plusbadges_badge badge_index=0 google_profile_id=person.id %}?embed=yes" style="width:230px;height:300px;border:0;">
<p>I'm sorry, your browser does not support iframes.</p></iframe></textarea>
    </div>
    <footer>
    <p>Sources (by <a href="http://matteoscotuzzi.com">Matteo</a>) on <a href="https://github.com/scotu/plustoys_powazord_com">github.com/scotu/plustoys_powazord_com</a> and <a href="https://github.com/scotu/django-plusbadges">github.com/scotu/django-plusbadges</a>
    <p>Made with <a href="http://www.djangoproject.com/">Django</a> :)</p>
    </footer>
</div>
{% endblock %}
