<style type="text/css">
#com-powazord-plustoys-badge {width:210px; border:#ebebeb 1px solid;}
#com-powazord-plustoys-heading{border-bottom:#D2D2D2 1px solid;background:#f1f1f1; padding:4px 4px 0 4px;}
.com-powazord-plustoys-mugshot {float:left;padding:0 4px 4px 0;}
#com-powazord-plustoys-badge{font-size:15px;font-family:arial,sans-serif;color:#464646;}
#com-powazord-plustoys-displayName{font-size:20px;font-weight:normal;color:black;margin:0;}
#com-powazord-plustoys-content{border-bottom:#D2D2D2 1px solid;font-size:13px; padding:0 4px;word-wrap:break-word;}
.com-powazord-plustoys-post{margin-bottom:1em;}
#com-powazord-plustoys-content img{max-width:100%;}
#com-powazord-plustoys-footer{font-size:10px;height:1em;background:#f1f1f1;}
#com-powazord-plustoys-footer p{margin:0;text-align:right;}
.com-powazord-plustoys-video, .com-powazord-plustoys-photo, .com-powazord-plustoys-article{padding:2px;border-left:5px solid #b2b2b2;}
h3{margin-top:0;}
.com-powazord-plustoys-less{color:#b2b2b2;}
.com-powazord-plustoys-meta{font-size:10px;background:#f1f1f1;margin-bottom:2px;}
</style>
